@media screen and (max-width:768px){

    .wrapper1000{
        width: 100%;
    }

    #header{
        display: block;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    #header p{
        margin-left: 2%;
    }

    #header #nav{
        margin-top: 0;
    }

    #header #nav ul li{
        border-right: none;
        padding: 0.2%;
        width: 29%;
    }

    .flex-container{
        display: block;
        background-color: red;
    }
    
    .mainBlock .col3{
        width: 90%;
        margin: 0 auto 20px;
        padding-bottom: 15px;
    }

    .mainBlock .box .last{
        margin-right: auto;
    }

    .mainBlock .col4{
        width: 50%;
        margin: 0 0 20px;
    }

    .mainvisual h1{
        font-size: 22px;
        padding: 20px 20px 0;
    }

    .mainBlock h2{
        font-size: 22px;
        margin-bottom: 30px;
        padding: 20px 0px;
    }

    .mainBlock .box p{
        margin-bottom: 0;
    }

    .mainBlock .box h3{
        font-size: 18px;
        margin: 0;
    }

    .btn-width{
        width: 80%;
        font-size: 18px;
        margin-top: 30px;
    }

    .mainBlock .news{
        margin: 20px 5%;
    }

    #footer{
        padding: 0.2%;
    }


}