@media screen and (max-width:768px){

    .wrapper1000{
        width: 100%;
    }

    #header{
        display: block;
    }

    #header #nav{
        margin-top: 0;
    }

    #header #nav ul li{
        border-right: none;
        padding: 0.2%;
        width: 29%;
    }

    .flex-container{
        display: block;
        background-color: red;
    }
    
    .mainBlock .col3{
        width: 90%;
        margin: 0 auto 20px;
        padding-bottom: 15px;
    }

    .mainBlock .box .last{
        margin-right: auto;
    }

    .mainBlock .col4{
        width: 50%;
        margin: 0 0 20px;
    }

    
}